#app-body {
  background-color: #E9F2FA;
  height: 100vh;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: #0c4768;
  color: #c8dfca;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  /* To stop content from overflowing on to the header */
  z-index: 1000;
}

.header p {
  margin: 0;
}

.logo {
  width: 5.5rem;
  /* z-index: 1000; */
  position: relative;
  top: 0px;
}

.profile-icon {
  width: 5%;
}

.landing-buttons-container {
  margin-inline: auto;

}

.landing-buttons {
  background-color: #263956;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 100px;
}


.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #0c4768;
  height: 100px;
}

.footer p {
  color: white;
  margin-top: 30px;
}

.new-card-button {
  background-color: #263956;
  border: none;
  color: white;
  padding: 15px 15px;
  border-radius: 7px;
  font-weight: bold;
  width: 250px;
}

.addCardContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.questionText,
.answerText,
.addCard {
  margin-bottom: 10px;
  border: none;
  padding: 5px 10px;
}

.addCard {
  background-color: #263956;
  border: none;
  color: white;
  padding: 15px 15px;
  border-radius: 7px;
  font-weight: bold;
}